<h1 id="page_title">Say Hello!</h1>
<div class="skinny_wrapper" id="wrapper_padding">
	<label"">name</label><br>
	<input type="text"><br>
	
	<label>email</label><br>
	<input type="email"><br>

	<label>message</label><br>
	<textarea></textarea><br>

	<input type="submit" value="Send Message" class="button"><br>
</div>