$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;
$white: #FFF;

#page_title {
	text-align: center;
	border-bottom: 1px solid $border;
	padding: 3em 0;
	font-size: 1rem;
	text-transform: uppercase;
}

.skinny_wrapper {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
}

#posts_wrapper {
	padding: 3em 0;
	.post {
		text-align: center;
		
		.date {
			font-size: .9em;
			margin: 0;
		}	
		h2 {
			margin-bottom: 0;
			font-size: 2em;
			text-transform: uppercase;
			a {
				text-decoration: none;
				color: $dark;
				&:hover {
					color: $highlight;
				}


			}
		}

		hr {
			margin: 3em auto;
		}
	}
}

.pagination:before,
.pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear: both;
}

.pagination {
	text-align: center;
	margin:  0 0 3em 0;
	a, .previous_page, .current, .next_page {
		padding: .75em 1em;
		margin: 0 .5em;
		border-radius: .15em;
		line-height: 20px;
		text-decoration: none;
		background: $white;
		font-weight: 700;
		font-size: .7em;
		font-style: normal;
		color: $dark;
		&:hover {
			background: $highlight;
			color: $white;
		}
	}
	.current {
		background: $highlight;
		color: $white;
	}
	.disable {
		color: #C0C0C0;
		&:hover {
			color: #C0C0C0;
			background: $white;
		}
	}
}