<!DOCTYPE html>
<html>
<head>
  <title>KirillZhuravlov</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
	
	
	<footer id="main_footer">
		<p class="copyright">
			&copy; Zhuravlov Kirill 2015
		</p>
		<nav>
			<a href="#"><i class="fa fa-vk"></i></a>
			<a href="#"><i class="fa fa-vk"></i></a>
			<a href="#"><i class="fa fa-vk"></i></a>
		</nav>
	</footer>
</body>
</html>
